* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #111;
	color: #fff;
	max-width: auto;
}

header {
	width: 100%;
	height: 100px;
	background-color: #111;
}

nav {
	display: flex;
	align-items: center;

	margin: 40px;
	
}

.menu {
	padding-top: 40px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: space-between;
}

.logo {
	margin-left: 0;
	margin-right: 250px;

}


.shape1 {
	background-color: #ffd700;
	color: #111;
	padding: 10px;
	margin-left: 50%;
	margin-top: 1%;

}


.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero {

	text-align: left;
	padding: 100px 20px;
	background-color: #111;
	/*margin-left: auto;
	margin-right: auto;
*/

}

.hero h1 {
	font-size: 50px;
	color: #ffd700;
	font-weight: 400;
	
}

.hero p {
	margin: 20px 0;
	max-width: 600px;
	/*margin-left: auto;
	margin-right: auto;*/
}

.hero button {
	padding: 10px 20px;
	border: 2px solid #ffd700;
	border-radius: 50px;
	background: none;
	font-size: 16px;
	cursor: pointer;
	color: white;
	
}

.yellow-section {
	background-color: #ffd700;
	color: #111;
	padding: 20px;
	text-align: center;
}

.services {
	display: flex;
	justify-content: center;
	gap: 40px;
	padding: 50px 20px;
	background: #fff;
	color: #111;
	text-align: center;
}

.services div {
	max-width: 300px;	
}

.contact {
	text-align: center;
	padding: 50px 20px;
	background: #fff;
	color: #111;
}

.contact form {
	max-width: 600px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contact input, .contact textarea, .contact button {
	padding: 10px;
	border: 1px solid #111;
} 

.contact button {
	background: #ffd700;
	border: none;
	cursor: pointer;
}

.footer {
	background: #ffd700;
	border: none;
	text-align: center;
	padding: 20px;
}

